# Set your envs here

# Mongo Setup
MONGO_URI=mongodb://admin:root@localhost:27017/admin
MONGO_USER=user_service
MONGO_PASSWORD=serv1c3
MONGO_BASE=auth

# App Setup
APP_PORT=3001

# Redis Setup
REDIS_URI=BLABLABLA

# Crypt Setup
CRYPT_SECRET_KEY=@l150n_

# Jwt Setup
JWT_KEY=k@d33l3